fastapi
uvicorn[standard]
sqlalchemy>=2.0
psycopg[binary]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4
argon2-cffi
email-validator
python-dotenv
httpx
google-genai
anthropic
celery[redis]
openai
pgvector
fastapi-limiter
